<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gpaontherun"
    android:versionCode="8"
    android:versionName="1.8 Alpha" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />
    

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:logo="@drawable/icon">
        <activity android:name="layout.New_Semester"></activity>
        <activity android:name="layout.Course_Editor"></activity>
        <activity android:name="layout.Course_Selection"></activity>
        <activity android:name="layout.Grading_Scheme"></activity>
        <activity android:name="layout.Grading_Scheme_Entry"></activity>
        <activity android:name="layout.Semester_Grade"></activity>
        <activity android:name="layout.Semester_Selection">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="layout.Evaluation_Editor"></activity>
        <activity android:name="layout.Evaluation_Selection"></activity>
        <activity android:name="layout.Best_Of_Menu"></activity>
        <activity android:name="layout.Best_Of_List"></activity>
        <activity android:name="layout.Best_Grade_Editor"></activity>
        <activity android:name="layout.Simulator_screen"></activity>  
    </application>
    

</manifest>